<h2>{{name}}</h2>
<h3>{{description}}</h3>

  {{#if isEditing}}
    <form>

        <div class="form-group">
          <label for="question">Question</label>
          {{textarea id="question" class="form-control" rows=15 value=question}}
        </div>

        <button class="btn btn-primary" {{action 'save'}}>Save</button>
    </form>

  {{else}}
    <p>{{question}}</p>

    <span class="glyphicon glyphicon-pencil red" {{action 'edit'}}></span>
      <span class="glyphicon glyphicon-trash red" {{action 'delete'}}></span>
  {{/if}}


<h2>Answers</h2>
{{#each answer in answers}}
<ul>
<li>{{answer.text}} <span class="glyphicon glyphicon-trash red" {{action "deleteAnswer" answer}}></span></li>
</ul>
{{/each}}

<p>{{#link-to 'new-answer' this.id class="btn btn-default"}}New Answer{{/link-to}}</p>

{{outlet}}
